<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <div id="c{data.uid}" data-aos="{data.tx_content_animations_animation}" data-aos-duration="{data.tx_content_animations_duration}" data-aos-delay="{data.tx_content_animations_delay}" data-aos-once="false" data-aos-mirror="true" class="frame frame--type-{data.CType}{f:if(condition: data.space_before_class, then: ' frame--{data.space_before_class}-margin-top')}{f:if(condition: data.space_after_class, then: ' frame--{data.space_after_class}-margin-bottom')}">
        <f:if condition="{data._LOCALIZED_UID}">
            <a id="c{data._LOCALIZED_UID}"></a>
        </f:if>
        <f:render section="Header" optional="true">
            <f:render partial="Header/All" arguments="{_all}"/>
        </f:render>
        <f:render section="Main" optional="true"/>
    </div>
</f:spaceless>
</html>
