#preview-content-animation {
    position: relative;
    box-sizing: border-box;
    display: block;
    width: 290px;
    height: 140px;
    border: 1px solid #ccc;
    background: #ededed;
    border-radius: 3px;
    padding: 30px;
    margin-top: 20px;
    overflow: hidden;
}

#preview-content-animation .preview-label {
    position: absolute;
    top:0;
    right:0;
    font-size: 1rem;
    background: #d1e2bd;
    color: #333;
    padding: 5px;
    opacity: 0;
    z-index: 10;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 0 3px;
    transition: opacity .2s ease-out;
}
#preview-content-animation .preview-label[data-show-preview="true"] {
    opacity: 1;
}

#preview-content-animation .ce-preview {
    display: block;
    width: 80px;
    height: 80px;
    border: 3px solid #333;
    padding: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

    -webkit-animation-duration: 2.6s;
            animation-duration: 2.6s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#preview-content-animation .ce-preview .ce-preview__item {
    content: " ";
    display: block;
    width: 100%;
    height: 5px;
    background: #333;
    margin-bottom: 5px;
}
#preview-content-animation .ce-preview .ce-preview__item--xs {
    width: 50%;
}

