services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Baschte\ContentAnimations\:
    resource: '../Classes/*'
    exclude: '../Classes/EventListener/*'

  # Public services (required for FormEngine elements)
  Baschte\ContentAnimations\Form\Elements\AnimationPreviewField:
    public: true

  Baschte\ContentAnimations\DataProcessing\AnimationSettingsProcessor:
    public: true

  # Event Listeners
  Baschte\ContentAnimations\EventListener\AddAosJavaScriptEventListener:
    tags:
      - name: event.listener
        identifier: 'content-animations/add-aos-javascript'
        event: TYPO3\CMS\Core\Page\Event\BeforeJavaScriptsRenderingEvent
        method: '__invoke'
